<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 驼峰命名  数据库字段名 user_name 实体属性名 userName -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		
	</settings>
	
</configuration>