<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.yx.dao.BeddingInfoMapper">
  
   <select id="findBeddingInfoById" parameterType="int" resultType="BeddingInfo">
  	SELECT *
	 FROM bedding_info WHERE product_id = #{productId);
  </select>
  
  <select id="findBeddingInfoByName" parameterType="String" resultType="BeddingInfo">
  	SELECT *
	 FROM bedding_info WHERE product_name = #{productName);
  </select>
  
  <update id="updateBeddingInfo" parameterType="BeddingInfo" >
  	UPDATE bedding_info 
  	<set>
  		<if test="product_name != null">
  			product_name = #{productName},
  		</if>
  		<if test="product_price != null">
  			product_price = #{productPrice},
  		</if>
  		<if test="product_manufacturer != null">
  			product_manufacturer = #{productManufacturer},
  		</if>
  		<if test="product_parameter != null">
  	 		product_parameter = #{productParameter}
  		</if>
  	</set>
  	WHERE product_id = #{productId}
  </update>
  
  <delete id="deleteBeddingInfo" parameterType="int">
  	DELETE FROM bedding_info WHERE product_id =#{productId}
  </delete>
  
  <insert id="addBeddingInfo" parameterType="BeddingInfo" useGeneratedKeys="true">
  	INSERT INTO bedding_info(product_name, product_parameter, product_price, product_manufacturer)
  	VALUES(#{productName}, #{productParameter}, #{productPrice}, #{productManufacturer})
  </insert>
</mapper>