<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.yx.dao.GradeMapper">
  
  <select id="stuCount" parameterType="int" resultType="int">
  	SELECT
		ifnull(SUM(c.stu_num), 0)
	FROM
		class c
	WHERE
	    c.grade_id = #{gdid}
  </select>
  
  <select id="findAllGrade" resultType="Grade">
  	SELECT
		g.id,
		g.name,
		g.stu_num
	FROM
		grade g
  </select> 
   
  <select id="findByName" parameterType="string" resultType="Grade" >
    <bind name="gdname" value="'%' + gdname + '%'"/>
  	SELECT
		g.id,
		g.name,
		g.stu_num
	FROM
		grade g
	<where>
		<if test="gdname !=null and gdname != ''">
        g.name like #{gdname}
		</if>
	</where>
  </select>
  
    <select id="findByNameSingle" parameterType="string" resultType="Grade" >
  	SELECT
		g.id,
		g.name,
		g.stu_num
	FROM
		grade g
	where
        g.name = #{value}

  </select>
  
  <select id="findById" parameterType="int" resultType="Grade" >
  	SELECT
		g.id,
		g.name,
		g.stu_num
	FROM
		grade g
	<where>
		<if test="gdid !=null and gdid != ''">
        g.id = #{gdid}
		</if>
	</where>
  </select>
  
  <delete id="deleteGrade" parameterType="int" >
  	DELETE FROM grade WHERE id = #{gdid}
  </delete>
  
  <insert id="insertGrade" parameterType="Grade" useGeneratedKeys="true" keyProperty="id">
  	INSERT INTO grade(id,name,stu_num)
  	VALUES(#{id},#{name},#{stuNum})
  </insert>
  
   <update id="updateGrade" parameterType="Grade" >
  	UPDATE grade 
  	<set>
  		<if test="name != null">
  			name = #{name},
  		</if>
  		<if test="stuNum != null">
  	 		stu_num = #{stuNum}
  		</if>
  	</set>
  	WHERE id = #{id}
  </update>
</mapper>