.table-responsive,.col-md-6{
    margin-left: 50px;
}
.row{
    margin-left: 190px;
}

.search{
	margin: 0px 0px 0px 550px;
}
.type{
	float: right;
}
.controls{
	margin: 0px 0px 10px 30px;
}