<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="../css/lines.css" rel='stylesheet' type='text/css' />
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="../css/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/metisMenu.min.js"></script>
    <!-- Graph JavaScript -->
    <script src="../js/d3.v3.js"></script>
    <script src="../js/rickshaw.js"></script>

    <!-- 引入自己的css和js文件-->
    <script src="js/dorm.js"></script>
    <link href="css/dorm.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <link type="text/css" rel='stylesheet' href="../css/welcome/welcome.css"/>
    <link type="text/css" rel='stylesheet' href="../css/dorm/hjd.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="../css/all.css"> -->
    <link href="../css/bootstrap-select.min.css" rel="stylesheet">
    <script src="../js/bootstrap-select.min.js"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
      <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../cd_index.html">迎新系统</a>
        </div>
             <ul class="user-menu">
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            User
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Profile
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                Settings
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
         <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="#"><i class="fa"></i>宿舍管理模块<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa"></i>宿舍信息管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/yx/dormModule/dorm/list">查询宿舍信息列表</a>
                                    </li>
                                    <li>
                                        <a href="/yx/dormModule/dorm/addDorm">添加宿舍信息</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa"></i>住宿学生信息管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                       <a href="/yx/dormModule/dormStu/list">住宿学生信息列表</a>
                                    </li>
                                    <li>
                                        <a href="/yx/dormModule/dormStu/addDormStu">添加住宿学生信息</a>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="fa"></i>管理员管理咨询模块<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yx/advisory/list">咨询记录管理</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


<!-- 以上为头部及左导航栏 -->


    <div id="page-wrapper">

        <!--1-->
        <div class="grid_3 grid_5">
            <h3>Breadcrumbs</h3>
            <div class="but_list">
                <!--<ol class="breadcrumb">-->
                <!--<li class="active">Home</li>-->
                <!--</ol>-->
                <ol class="breadcrumb">
                <li><a href="#">用户咨询模块</a></li>
                <li class="active">发布咨询</li>
                </ol>
            </div>
        </div>
        
            <!-- 333 -->
         
            <div class="col-md-8 inbox_right">
            <div class="Compose-Message">               
                <div class="panel panel-default">
                   
                    <div class="panel-body">
                    <form class="form-horizontal"  method="post" >
                        <hr>
                        <label>选择主题: </label>
                             <select id="selector1" class="form-control1 control3"  >
                                <option></option>
                                <option value="1">专业课程</option> <!-- value="112"-->
                                <option value="2">录取工作</option>
                                <option value="3">学校生活</option>
                                <option value="4">收费标准</option>
                                <option value="5">寝室</option>
                                <option value="6">助学</option>
                                <option value="7">就业</option>
                                <option value="8">学生活动</option>
                                <option value="9">交友</option>
                            </select>
                        <label>输入咨询内容: </label>
                        <textarea rows="6" class="form-control1 control2"></textarea>
                        <hr>
                        <div class="row">
                         <div class="col-sm-8 col-sm-offset-3">
                          <button class="btn-default btn">Cancel</button>
                           <button class="btn-info btn" type="submit" id="submit">Submit</button>
                        </div>
                    </div>
                    </form>
                    </div>
                 </div>
              </div>
         </div>
         <div class="clearfix"> </div>



    </div>


    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
